<mat-toolbar class="toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Wellcome {{name}}</span>
  <span class="example-spacer"></span>

  <button (click)="onLogout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>


<mat-tab-group class="tabs" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Check Registration" class="t-bck">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <div class="mh1">
            <mat-card-title class="expiration-title">Check Vehicle Registration Expiration</mat-card-title>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="vehicle-exp-container">
            <div class="vehicle-exp-field">
              <form [formGroup]="accountForm">
                <mat-form-field appearance="outline" class="full-width-form-field">
                  <mat-label>Account id</mat-label>
                  <input matInput formControlName="accountId" type="email" required />
                </mat-form-field>
              </form>
            </div>
            <div>
              <button mat-stroked-button class="demo-button-advanced-search" [disabled]="!accountForm.valid"
                (click)="checkRegistered()">Check</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Register Vehicle" class="t-bck1">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <div class="mh1">
            <mat-card-title class="expiration-title">Register New Vehicle</mat-card-title>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="form-grid">
            <form [formGroup]="vehicleForm">
              <div class="form-grid">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Vehicle Make</mat-label>
                  <input matInput formControlName="make" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-field full-width">
                  <mat-label>Vehicle Model</mat-label>
                  <input matInput formControlName="model" />
                </mat-form-field>
              </div>
              <div class="form-grid">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Registration number</mat-label>
                  <input matInput formControlName="registrationId" required />
                </mat-form-field>
                <mat-form-field>
                  <input required matInput placeholder="Registration Expiration Date" formControlName="receiptDate"
                    [matDatepicker]="receiptDateDatePicker">
                  <mat-datepicker-toggle matSuffix [for]="receiptDateDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #receiptDateDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </form>
          </div>
          <mat-card-actions class="mat-card-options">
            <button [disabled]="!this.vehicleForm.valid" mat-flat-button color="secondary" class="demo-button"
              (click)="registerNewVehicle()">
              Register new vehicle
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-tab>
  <mat-tab label="My Statistics" class="t-bck2">

    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <div class="mh1">
            <mat-card-title class="expiration-title">My Statistics</mat-card-title>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="vehicle-exp-container">
            <div>
              <p>{{myStatistics}}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-tab>
  <mat-tab label="All Statistics" class="t-bck2">

    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <div class="mh1">
            <mat-card-title class="expiration-title">All Accounts Statistics</mat-card-title>
          </div>
        </mat-card-header>
        <mat-card-content>

          <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
              </ng-container>

              <ng-container matColumnDef="numberOfVehicles">
                <th mat-header-cell *matHeaderCellDef> Number of Registrations </th>
                <td mat-cell *matCellDef="let element"> {{ element.numberOfVehicles }} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>


        </mat-card-content>
      </mat-card>
    </div>

  </mat-tab>
</mat-tab-group>
