.example-spacer {
  flex: 1 1 auto;
}

.toolbar{
  background-color: #FFFFFF;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.card {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #FFFFFF;
}

.paginator{
  background-color: #FFFFFF;
}

#mat-menu{
  background-color: #FFFFFF;
}

.demo-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.form-fields{
  margin-right: 10px;
}

.full-width-form-field-left{
  margin-right: 10px;
}

.demo-button-advanced-search{
  margin-right: 10px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.demo-table {
  background-color: #FFFFFF;
  width: 100%;
  table-layout: fixed;
}

.paginator{
  background-color: #FFFFFF;
}

.mat-elevation-z8 {
  border-radius: 8px;
}

.tabs{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.t-bck.t-bck1.t-bck2{
  background-color: #f5f5f5;
}
.mh1{
  padding-bottom: 10px;
}
.expiration-title{
  margin-bottom: 10px;
}
.form-container {
  flex: 1;
}

.vehicle-exp-container {
  display: flex;
  align-items: center;
}



.table-container {
  flex: 1.5;
  overflow-x: auto;
}

mat-form-field {
  padding: 5px;
}

.headers{
  font-weight: 400;
  font-size: large;
}
.truncate-cell {
  max-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.paginator{
  background-color: #FFFFFF;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.demo-table {
  background-color: #FFFFFF;
  width: 100%;
  table-layout: fixed;
}
