<div class="active-container">
  <mat-card class="active-card">
    <mat-card-header class="header">
      <mat-card-title-group class="headers-group" >
        <mat-card-title>Hello {{accountId}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <p>Your account is sucessfully created!</p>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>

      <div class="password-container">
        <p>This is your password:</p>
      <p class="password">{{password}}</p>
      </div>

      <button mat-flat-button class="full-width" (click)="backToLogin()">
        Back to login
      </button>
    </mat-card-content>
  </mat-card>
</div>
