<div class="active-container">
  <mat-card class="active-card">
    <mat-card-header class="header">
      <mat-card-title-group class="headers-group" >
        <mat-card-title>Your account is active</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <p>{{accountId}}</p>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>

      <p>this will be generated password</p>

      <button mat-flat-button class="full-width" (click)="backToLogin()">
        Back to login
      </button>
    </mat-card-content>
  </mat-card>
</div>
